@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div>
    <h2>Search Options</h2>
    <div>
        <span>State : @ViewBag.State</span>
        <span>City : @ViewBag.City</span>
        <span>Property : @ViewBag.Property</span>
    </div>
</div>